@font-face {
    font-family: myFirstFont;
    src: url(../fonts/f3.ttf);
    font-weight: bold;
}
@font-face {
    font-family: font_select;
    src: url(../fonts/f4.ttf);
    font-weight: bold;
}



div.backdrop {
  padding: 3%;
  width: inherit;
  height: 80%;
  text-align: center;
}

div.header {
  padding: 3%;
  position: relative;
  border: 3px black solid;
  border-radius: 40px  40px 0px 0px;
  margin: 0 auto;
  width: inherit;
  height:600px;
  background-color: #5a4646;

}

div.header:hover {
  background-image: url("../images/Footprints.png");
  background-size:auto;

}

div.content {
  width: inherit;
  height:950px;
  padding: 5%;
  background-color: grey;
}

div.content-left {
  text-align: center;
  vertical-align: middle;
  height: 600px;
  width: 600px;
  background-image: url(../images/lions.jpeg);
  background-size: contain;
  transition: all .2s ease-in-out;
  float: left;
  opacity: 0.3;
  border: 3px white solid;
  border-radius: 50%;

}
div.content-left:hover {
  transform: scale(1.1);
  float: left;
  background-image: url(../images/lions.jpeg);
  opacity: 1;
  border: 3px white solid;
}
.content-left:hover::before{
    color: white;
    font-family: font_select;
    font-size: 60px;
    content: 'Maasai Mara';
    position: relative;
    top: 0;
    text-align: center;
    display: inline-block;
    line-height: 600px;
}
div.content-right {
  text-align: center;
  vertical-align: middle;
  height: 600px;
  width: 600px;
  background-image: url(../images/mombasa.jpg);
  background-size: contain;
  transition: all .2s ease-in-out;
  float: right;
  opacity: 0.3;
  border: 3px white solid;
  border-radius: 50%;
}
div.content-right:hover {
  transform: scale(1.1);
  float: right;
  background-image: url(../images/mombasa.jpg);
  opacity: 1;
  border: 3px white solid;
}
.content-right:hover::before{
    color: white;
    font-family: font_select;
    font-size: 60px;
    content: 'Mombasa';
    position: relative;
    top: 0;
    text-align: center;
    display: inline-block;
    line-height: 600px;
}

.largeLetters {
  font-size: 80px;
  color: white;
  font-family:myFirstFont;
}
.medetters {
  font-size: 80px;
  color: white;
  font-family:font_select;
}

.buttonTs {
  background-color: white;
  border: 2px white solid;
  border-radius: 0px 50px 0px 50px;
  opacity: 50%;
  width: 8%;
  height: 4%;
  color: #5a4646;
}
.buttonTS:hover {
  border: 2px white solid;
  border-radius: 0px 50px 0px 50px;
  background-color: white;
  opacity: 100%;
  width: 12%;
  height: 6%;
  color: black;
}

.navbar {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    float: left;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    border-radius: 0px, 0px, 45px, 0px;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
  float: left;
  text-align: center;
  overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/* Control the color of hover for non drop down links */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
